name: Run Tests on PR

on: [pull_request]


jobs:
  test:
    name: Run Tests on PR
    runs-on: ubuntu-latest
    
    env:
      API_KEY: ${{ secrets.API_KEY }}
      APP_ID: ${{ secrets.APP_ID }}
      EXAMPLE_AUTH_TOKEN: ${{ secrets.EXAMPLE_AUTH_TOKEN }}
      EXAMPLE_USER_ID: ${{ secrets.EXAMPLE_USER_ID }}
      
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Dependencies
        run: composer install

      - name: Unit Test
        run: ./vendor/bin/phpunit custom/test/*