name: Run Tests on PR

on:
  workflow_dispatch:

env:
    API_KEY: ${{ secrets.API_KEY }}
    APP_ID: ${{ secrets.APP_ID }}
    APP_TOKEN: ${{ secrets.APP_TOKEN }}
    EXAMPLE_AUTH_TOKEN: ${{ secrets.EXAMPLE_AUTH_TOKEN }}
    EXAMPLE_USER_ID: ${{ secrets.EXAMPLE_USER_ID }}

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Dependencies
        run: composer install

      - name: Unit Test
        run: ./vendor/bin/phpunit custom/test/*